<settings>
 	<setting propertyKey="@Properties.openWeatherAPIKey" title="@Strings.OpenWeatherAPIKey">
		<settingConfig type="alphanumeric" />
	</setting>	
	<setting propertyKey="@Properties.updateFrequencyWebReq" title="@Strings.UpdateFrequencyWebReq">
		<settingConfig type="numeric" min="5" />
	</setting>
	<!-- <setting propertyKey="@Properties.openWeatherProxy" title="@Strings.OpenWeatherProxy">
		<settingConfig type="alphanumeric" />
	</setting>
	<setting propertyKey="@Properties.openWeatherProxyAPIKey" title="@Strings.OpenWeatherProxyAPIKey">
		<settingConfig type="alphanumeric" />
	</setting> -->	
    <setting propertyKey="@Properties.observationTimeDelayedMinutesThreshold" title="@Strings.ObservationTimeDelayedMinutesThreshold">
		<settingConfig type="numeric" min="0" max="60" />
	</setting>	
    <!-- <setting propertyKey="@Properties.minimalGPSquality" title="@Strings.MinimalGPSquality">
		<settingConfig type="numeric" min="0" max="4" />
	</setting>	 -->

	<setting propertyKey="@Properties.minimalGPSquality" title="@Strings.MinimalGPSquality" 
	prompt="@Strings.MinimalGPSqualityPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.GpsQualityNotAvailable</listEntry>
            <listEntry value="1">@Strings.GpsQualityLastKnown</listEntry>            
            <listEntry value="2">@Strings.GpsQualityPoor</listEntry>            
            <listEntry value="3">@Strings.GpsQualityUsable</listEntry>            
            <listEntry value="4">@Strings.GpsQualityGood</listEntry>            	
        </settingConfig>
    </setting>      

    <!-- <setting propertyKey="@Properties.pollutionLimits" title="@Strings.PollutionLimits">
        <settingConfig type="boolean" />
    </setting> -->

    <!-- <group id="pollutionLimitsInfo" 
        title="@Strings.PollutionLimits" 
        description="@Strings.PollutionLimitsDescription" 
        enableIfTrue="@Properties.pollutionLimits"> -->
        
		<setting propertyKey="@Properties.pollutionLimitNO2" title="@Strings.PollutionLimitNO2">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.pollutionLimitPM10" title="@Strings.PollutionLimitPM10">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.pollutionLimitO3" title="@Strings.PollutionLimitO3">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.pollutionLimitPM2_5" title="@Strings.PollutionLimitPM2_5">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.pollutionLimitSO2" title="@Strings.PollutionLimitSO2">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.pollutionLimitNH3" title="@Strings.PollutionLimitNH3">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.pollutionLimitCO" title="@Strings.PollutionLimitCO">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.pollutionLimitNO" title="@Strings.PollutionLimitNO">
            <settingConfig type="numeric" min="0"/>
        </setting>

    <!-- </group> -->

	<setting propertyKey="@Properties.demo" title="@Strings.Demo">
		<settingConfig type="boolean" />
	</setting> 	
</settings>
