<settings>
 	<setting propertyKey="@Properties.openWeatherAPIKey" title="@Strings.OpenWeatherAPIKey">
		<settingConfig type="alphanumeric" />
	</setting>	
	<setting propertyKey="@Properties.updateFrequencyWebReq" title="@Strings.UpdateFrequencyWebReq">
		<settingConfig type="numeric" min="5" />
	</setting>
	<!-- <setting propertyKey="@Properties.openWeatherProxy" title="@Strings.OpenWeatherProxy">
		<settingConfig type="alphanumeric" />
	</setting>
	<setting propertyKey="@Properties.openWeatherProxyAPIKey" title="@Strings.OpenWeatherProxyAPIKey">
		<settingConfig type="alphanumeric" />
	</setting> -->	
    <setting propertyKey="@Properties.observationTimeDelayedMinutesThreshold" title="@Strings.ObservationTimeDelayedMinutesThreshold">
		<settingConfig type="numeric" min="0" max="60" />
	</setting>	
    <setting propertyKey="@Properties.minimalGPSquality" title="@Strings.MinimalGPSquality">
		<settingConfig type="numeric" min="0" max="4" />
	</setting>	
	<setting propertyKey="@Properties.demo" title="@Strings.Demo">
		<settingConfig type="boolean" />
	</setting> 	
</settings>
